[user]
    name = Lukasz Druminski
    email = lukasz.druminski@allegro.pl
[push]
    default = current
[branch]
    autosetupmerge = always
[alias]
    hist = log --pretty=format:"%C(yellow)%h%C(reset) %C(green)%ad%C(reset) %C(red)|%C(reset) %s %C(bold blue)[%an]%C(reset)%C(yellow)%d%C(reset)" --graph --date=short
    grog = log --graph --abbrev-commit --decorate --all --format=format:"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)"
    dbr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lg = log --pretty=oneline --abbrev-commit

    ps = push
    pl = pull
    co = checkout
    cb = checkout -b
    br = branch
    ci = commit
    st = status
